/* .calculator {
  width: 90vw;
  max-width: 400px;
  min-height: 400px;
}
.screen {
  background-color: #6e6e6c;
  height:90px;
}
.btns {
  font-size: 20px;
  background-color: #bdbdba;
  border: 1px solid black;
  height: 36px;
  width: 36px;
} */

.calculator {
  width: 90vw;
  max-width: 400px;
  background-color: #222;
}

.screen {
  background-color: #6e6e6c;
  height: 90px;
  font-size: 2rem;
}

.btns {
  font-size: 1.2rem;
  background-color: #bdbdba;
  border: 1px solid black;
  padding: 15px;
  border-radius: 8px;
}

/* 22/5/2025 */